@font-face {
    font-family: 'open_sansbold';
    src: url('/fonts/opensans_bold//OpenSans-Bold-webfont.eot');
    src: url('/fonts/opensans_bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans_bold/OpenSans-Bold-webfont.woff2') format('woff2'),
         url('/fonts/opensans_bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('/fonts/opensans_bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/fonts/opensans_bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('/fonts/opensans_light/OpenSans-Light-webfont.eot');
    src: url('/fonts/opensans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans_light/OpenSans-Light-webfont.woff2') format('woff2'),
         url('/fonts/opensans_light/OpenSans-Light-webfont.woff') format('woff'),
         url('/fonts/opensans_light/OpenSans-Light-webfont.ttf') format('truetype'),
         url('/fonts/opensans_light/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/fonts/opensans_regular/OpenSans-Regular-webfont.eot');
    src: url('/fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans_regular/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('/fonts/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'),
         url('/fonts/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/fonts/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'open_sansregular';
}