@import "variables_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300;700&display=swap");

/*##################################*/
/*############ QUERIES #############*/
/*##################################*/

$breakpoints: (
    mobile: 576px,
    tablets: 768px,
    large: 992px,
    computer: 1200px,
    extraExtraLarge: 1400px,
);

@mixin sm-only {
    @media screen and (min-width: map-get($breakpoints, small)) {
        @content;
    }
}

@mixin tablets-only {
    @media screen and (min-width: map-get($breakpoints, tablets)) {
        @content;
    }
}
@mixin tablet-lg {
    @media screen and (min-width: map-get($breakpoints, large)) {
        @content;
    }
}
@mixin computers {
    @media screen and (min-width: map-get($breakpoints, computer)) {
        @content;
    }
}
@mixin computer-xxl {
    @media screen and (min-width: map-get($breakpoints, extraExtraLarge)) {
        @content;
    }
}

////
body {
    font-family: "Inter", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    a {
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
    }

    p {
        font-size: 0.9em;
        @include tablets-only {
            font-size: 0.9em;
        }
        // ==> Medias queries _queries
        @include computers {
            font-size: 0.9em;
        }
    }
}
/*##################################*/
/*############# COLORS #############*/
/*##################################*/
h1 {
    color: #ffffff;
}

//Background height
.gridHeight {
    height: 200px;
    color: white;
}

/*##################################*/
/*############# GRILLE #############*/
/*##################################*/

@media (min-width: 1200px) {
    .container {
        width: 1230px;
    }
}

.section_one {
    background-image: url("/Images/Image.png");
    background-size: cover;
    height: 100vh;
    // width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    @include tablets-only {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
    // ==> Medias queries _queries
    @include computers {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 10px;
    }

    /* height: 950px; */
}
//Iphone picture
.iphone {
    position: absolute;
    right: 10px;
    bottom: -130px;
    width: 300px;

    @include tablets-only {
        right: 30px;
        bottom: -160px;
        width: 500px;
    }
    @include tablet-lg {
        right: 50px;
        bottom: -160px;
    }
    @include computers {
        right: 50px;
        bottom: -180px;
        width: 600px;
    }
    @include computer-xxl {
      right: 80px;
        bottom: -180px;
        width: 600px;
    }
}

.grille {
    @include computers {
        width: 100%;
        padding-left: 8em;
        margin-right: auto;
        margin-left: auto;
    }
}
