@import "variables_overrides.scss"; 
@import "../node_modules/bootstrap/scss/bootstrap.scss";



@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300;700&display=swap');





body {
    font-family: 'Inter', sans-serif;

    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    a {
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
    }
    
    p {
        font-size: 0.9em;
    }
}
/*##################################*/
/*############# COLORS #############*/
/*##################################*/
h1 {
    color: #ffffff;
 }

//Background height
.gridHeight {
  height: 200px;
  color:white;
}




/*##################################*/
/*############# GRILLE #############*/
/*##################################*/

@media (min-width: 1200px) {
  .container {
    width: 1230px;
  }
}


#section_one {
  background-image: url("/Images/Image.png");
  background-size: cover;
  background-repeat: no-repeat;
 
  /* height: 950px; */
}
